* {
  font-family: "Fuzzy Bubbles", cursive;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.both .box {
  width: 350px;
  height: 750px;
  border-radius: 20px;
  background-color: rgb(162, 4, 120);
  margin: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.both {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left__up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__middle--one {
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.left__middle--one h4 {
  opacity: 0.5;
}
.left__middle img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.left__middle--two {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 20px;
}

.left__middle--two div {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 25px;
  display: flex;
  color: rgb(162, 185, 9);
}

.left__middle--two_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left__middle--two_2 i {
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.left__down img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.left__down--contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1px;
  margin: 20px 0px;
}

.left__down .left__down--contents:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.2x);
  padding: 0px 20px;
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.control__box {
  background-color: rgb(251, 162, 46);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 10px;
}
.control__box__icons {
  display: flex;
  margin-left: 40px;
}
.control__box h6,
h3 {
  line-height: 0.5px;
}
.control__box__icons i {
  margin: 0px 5px;
}
.left__down--data h6 {
  opacity: 0.5;
}
.right__middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
}
.right__middle img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.right__middle-p {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right__middle-p h6 {
  margin-top: 5px;
  opacity: 0.5;
}
input[type="range"] {
  width: 95%;
  outline: none;
  height: 5px;
  margin: 20px 0px;
}

.right__up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.right__down {
  display: flex;
  justify-content: space-between;
  width: 250px;
  font-size: 20px;
  margin-top: 80px;
}

.right__down i:nth-child(3) {
  font-size: 60px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.right__down i:nth-child(4n + 1) {
  opacity: 0.5;
}

.right__down i {
  display: flex;
  align-items: center;
}
